:root{
	font-size:20px;
}
 body {
    max-width: 100%;
    overflow-x: hidden;
	margin:0px;
	padding:0px;
	display:flex;
	flex-direction:column;
	
}
.container{
	display:flex;
	flex-direction:column;
}

.sub-container{
	background-image:url(cubes_structure_black_blue_120005_1600x1200.jpg);
	height:100vh;
	width:100vw;
	background-size:cover;
	background-size:100% 100%;
	
}
.sub-container h3{
	color:0BF2D6;
	font-family: 'Julius Sans One', sans-serif;
	margin-left:22vw;
	
}

.heading{
	color:0BF2D6;
	margin-left:32vw;
	margin-top:30vh;
	font-size:1.2rem;
	font-family: 'Kotta One', serif;
	
}
.sub-heading{
	color:0BF2D6;
	margin-left:25vw;
	font-size:2rem;
	font-family: 'Cinzel Decorative', cursive;

}
.second-heading{
	color:0BF2D6;
	margin-left:28vw;
	font-size:1rem;
	font-family: 'Marck Script', cursive;
}
.title{
	display:flex;
	justify-content:center;
}
.left{
	width:50%;
	min-height:50px;
	
	float:left;
}
.right{
	width:50%;
	min-height:50vh;
	float:left;
}


.background{
	background-image:url(Painting-Transparent-Background-PNG.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:100vh;
	width:100vw;
	background-size:100% 100%;
	
}
.holder2{
	width:90%;
}
.holder3 img{
	margin:10px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.holder2{
		display:flex;
		flex-direction:column;
		width:80%;
	}
	.holder3{
		display:flex;
		flex-direction:column;
		width:100%;
	}
	.social{
		margin:10px;
	}
	
	
}
	
@media screen and (max-width:480px)
{
	.holder2{
		display:flex;
		flex-direction:column;
		width:90%;
		
	}
	
	.holder3{
		display:flex;
		flex-direction:column;
		width:100%;
	}
	
	
	.social{
	width:5%;
	margin-right:75vw;
	height:2%;
	
	
	}
	.logo{
	width:30px;
	height:12px;

	}
.holder1{
	display:flex;
	flex-direction:column;
	}
	.right{
		margin-left:35%;
		margin-top:5px;
	}
	.background{
	background:none;
}
	
}
@media screen and (max-width:320px){
			
	.sub-heading{
	color:0BF2D6;
	margin-left:25vw;
	font-size:1.2rem;
	font-family: 'Cinzel Decorative', cursive;

}
.title2{
	font-size:1.2rem;
}

}	
@media screen and (min-width:768px)and (max-width:1333px){
	.icon{
	padding:5px;
	float:left;
	width:30%;
	height:340px;
	
	}
	
}

#paragraph{
	font-size:1.1rem;
	
}
#paragraph1{
	font-size:0.9rem;
	font-family: 'Courgette', cursive;
	margin-left:9vw;
}
.wrapper center{
	color:white;
	
} 

.wrapper{
	background:#17202A  ;
	min-height:200px;
	width:100%;
	margin-top:100vh;
	
}
.icon{
	margin:20px;
	float:left;
	width:30%;
	min-height:100px;
}
.content{
	width:90%;
	margin-top:7vh;
	float:left;
	
	
}
.holder3{
	float:left;
}
.clearblock{
	clear:both;
}
.social{
	width:5%;
	height:13%;
	float:left;
	
}
.logo{
	width:30px;
	height:35px;
	margin-left:42vw;
	margin-top:10vh;
}

